<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script type="text/javascript" src="//platform.linkedin.com/in.js">
        api_key:   "81gzhnynrcrrj3"
        onLoad:    ""
        authorize: true
        lang:      "en_US"
    </script>
    <script src="../../js/configuration.js"></script>
  <script src="../../js/Facebook.js"></script>
  <script src="../../js/github.js"></script>
  <script src="../../js/linkedin.js"></script>
    <title>Password Manager</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="card" style="width: 18rem;">
                        <img src=".." class="card-img-top" alt="...">
                    <div class="card-body">
                            <h5 class="card-title">Facebook</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            
                            <button class="btn btn-success" onclick="fblogin()">Login</button>
                             <button class="btn btn-danger" onclick="fbLogoutUser()">Logout</button>               
                    </div>
                    </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card" style="width: 18rem;">
                            <img src=".." class="card-img-top" alt="...">
                        <div class="card-body">
                                <h5 class="card-title">Twitter</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="/users/facebook" class="btn btn-primary">Login</a>
                                <button class="btn btn-success" onclick="FB.login()">Login</button>
                                 <button class="btn btn-danger" onclick="fbLogoutUser()">Logout</button>               
                        </div>
                    </div>
                
              </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card" style="width: 18rem;">
                            <img src=".." class="card-img-top" alt="...">
                        <div class="card-body">
                                <h5 class="card-title">Github</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="/users/facebook" class="btn btn-primary">Login</a>
                                <button class="btn btn-success" onclick="FB.login()">Login</button>
                                 <button class="btn btn-danger" onclick="githubLogoutUser()">Logout</button>               
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card" style="width: 18rem;">
                            <img src=".." class="card-img-top" alt="...">
                        <div class="card-body">
                                <h5 class="card-title">LinkedIn</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <!-- <a href="/users/linkedIn" class="btn btn-primary">Login</a> -->
                                <button class="btn btn-success" onclick="linkedinlogin()">Login</button>
                                 <button class="btn btn-danger" onclick="linkedinlogoutuser()">Logout</button>               
                        </div>
                    </div>
                </div>
              
        </div>
    </div>
    
</body>
</html>